extends ../layout

block content  
  table
  if projects.length > 0
      thead
        tr
          th Naziv Projekta
          th Opis Projekta
          th Obavljeni Poslovi
          th Options

      tbody
        each project in projects
          tr
            td= project.naziv_projekta
            td= project.opis_projekta 
            td= project.obavljeni_poslovi
            td
              button(type='button' onclick=`viewProject(${project.id})`) View
              button(type='button' onclick=`leaveProject(${project.id})`) Leave

  script(src="/javascripts/project-methods.js")