extends ../layout

block content
  h1 My Projects

  table
    thead
      tr
        th Project Name
        th Description
        th Assigned To
        th Options

    tbody
      each project in projects
        tr
          td= project.name
          td= project.description
          td
            // Dropdown for selecting users
            select(name=`assign-${project.id}`)
              option(value='') -- Select User --
              each user in availableUsers
                option(value=user.id)= user.name
          td
            button(type='button' onclick=`leaveProject(${project.id})`) Leave

//- script.
//- 	function leaveProject(projectId) {
//-   }
