extends ../layout

block content
  script(src="/javascripts/project-methods.js")
  form(action="/projects/new-project", method="get")
    button(type="submit") Add New
  if projects.length > 0
    table
      thead
        tr
          th Naziv Projekta
          th Opis Projekta
          th Obavljeni Poslovi
          th Cijena Projekta
          th Odabir osobe
          th Options

      tbody
        each project in projects
          tr
            td= project.naziv_projekta
            td= project.opis_projekta
            td= project.obavljeni_poslovi
            td= "$ " + project.cijena_projekta
            td
              // Dropdown for selecting users
              select(name=`assign-${project.id}`)
                option(value='') -- Select User --
                each user in availableUsers
                  option(value=user.id)= user.name
            td
              button(type='button' onclick=`assignUser(${project.id})`) Assign
              button(type='button' onclick=`viewProject(${project.id})`) View

  script(src="/javascripts/project-methods.js")