extends ../layout

block content
  form(action="/projects/new-project", method="get")
    button(type="submit") Add New
  table
    thead
      tr
        th Project Name
        th Description
        th Assigned To
        th Options

    tbody
      each project in projects
        tr
          td= project.naziv_projekta
          td= project.opis_projekta
          td
            // Dropdown for selecting users
            select(name=`assign-${project.id}`)
              option(value='') -- Select User --
              each user in availableUsers
                option(value=user.id)= user.name
          td
            button(type='button' onclick=`assignUser(${project.id})`) Assign

//- script.
//-   function assignUser(projectId) {
//-     var userId = document.querySelector(`select[name='assign-${projectId}']`).value;
//-   } 
